= title "Payment for #{@payment.event_title} succeeded"
.row-fluid
  .main.span9
    - case @payment.event_state
      -when 'planned'
        %h2
          You have purchased tickets for
          = @payment.event_title
        Now funds are reserved on your payment account, and it will be charged soon. You can see tickets on
        = link_to "your payments", payments_url
        page here at Musevent.
      - when 'raising'
        %h2
          You have reserved tickets for
          = @payment.event_title
        Now funds are reserved on your payment account, and if there will be enough tickets sold to fund this event, your
        payment account will be charged. Either way, funds will be released and you will be able to use them.

        Once event state is changed, we will send you a notification.

    In sidebar you can see list of options. Choose one of them and have a good time with Musevent!
  .side.span3
    %ul.actions
      %li= link_to "Review this payment", payment_url(@payment), class: "btn btn-large"
      %li= link_to "View your tickets", payments_url, class: "btn btn-large"
      %li= link_to "View events list", events_url, class: "btn btn-primary btn-large"


